.img{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
  }
  
  .img{
    height: 50px;
    width: 100px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-right: 100px;
    padding-left: 100px;
  
  }